body {
  background: url(../images/background.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
    flex: 1 0 auto;
}

#career{
  color: #039be5;
}

#image{
	width: 250px;
}

#me{
	font-family: arial;
}

.social{
	margin: 0;
  text-align: center;
  color: black;
}

.social li{
	display: inline-block;
  	margin: 0 1em;
  	padding: 1.5em 0;
}

.social li a{
  color: #cfd8dc;
  display: block;
  font-size: 2em;
  min-width: 1.4em;
  text-align: center;
}

.social li a:hover{
  color: #ffffff;
}

#card{
  opacity: 0.5;
}