body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

footer {
    flex: 1 0 auto;
}

#career{
  color: #039be5;
}

#image{
	width: 250px;
}

#me{
	font-family: arial;
}

.social{
	margin: 0;
  	text-align: center;
}

.social li{
	display: inline-block;
  	margin: 0 1em;
  	padding: 1.5em 0;
}

.social li a{
  color: #777;
  display: block;
  font-size: 2em;
  min-width: 1.4em;
  text-align: center;
}

.social li a:hover{
  color: #000;
}